<section class="about-section" id="about">
  <div class="about-content-wrap container">
    <div class="about-header">
      <span class="about-label">About nexthoris</span>
      <span class="about-line"
        ><img class="title-line" src="./img/mobile/title-line.png" alt="" /><img
          class="title-line-desktop"
          src="./img/desktop/title-line-desktop.png"
          alt=""
      /></span>
    </div>

    <div class="about-content">
      <h2 class="about-title">Strategy Meets Execution</h2>
      <p class="about-description">
        SEO isn’t magic — it’s engineering. At nexthoris, we design SEO systems
        that scale with your business. From early audits to long-term content
        infrastructure, we apply deep analysis, technical improvements, and
        authority-building methods to drive consistent results. Our goal is to
        make your site not just visible — but undeniably present in your
        industry’s digital landscape.
      </p>
    </div>
  </div>
</section>
