<section class="case-studies-section" id="case-studies">
  <div class="case-studies-content-wrap container">
    <div class="case-studies-header">
      <span class="case-studies-label">Case Studies</span>
      <span class="case-studies-line"
        ><img class="title-line" src="./img/mobile/title-line.png" alt="" /><img
          class="title-line-desktop"
          src="./img/desktop/title-line-desktop.png"
          alt=""
      /></span>
    </div>

    <div class="case-text-wrap">
      <h2 class="case-studies-title">Proven Traffic. Real Growth.</h2>
      <p class="case-studies-description">
        All results traceable through Google Search Console and Analytics.
        Examples:
      </p>
    </div>

    <ul class="case-studies-list">
      <li class="case-study-card">
        <img
          src="./img/general/case-img-1.png"
          alt=""
          class="case-study-image"
        />
        <h3 class="case-study-title">B2B SaaS (Germany)</h3>
        <p class="case-study-text">+400% organic growth in 6 months</p>
      </li>
      <li class="case-study-card">
        <img
          src="./img/general/case-img-2.png"
          alt=""
          class="case-study-image"
        />
        <h3 class="case-study-title">eCommerce Home Goods (UK)</h3>
        <p class="case-study-text">10X ROI from blog &amp; FAQ content</p>
      </li>
      <li class="case-study-card">
        <img
          src="./img/general/case-img-3.png"
          alt=""
          class="case-study-image"
        />
        <h3 class="case-study-title">Fintech Blog (US)</h3>
        <p class="case-study-text">From 0 to 30K/mo SEO visits in 9 months</p>
      </li>
      <li class="case-study-card">
        <img
          src="./img/general/case-img-4.png"
          alt=""
          class="case-study-image"
        />
        <h3 class="case-study-title">Local Dentist Chain</h3>
        <p class="case-study-text">3× appointment conversions via GMB/SEO</p>
      </li>
    </ul>
  </div>
</section>
