<section class="contact-section" id="contact">
  <div class="contact-content-wrap container">
    <div class="contact-header">
      <span class="contact-label">CONTACT</span>
      <span class="contact-line"
        ><img class="title-line" src="./img/mobile/title-line.png" alt="" /><img
          class="title-line-desktop"
          src="./img/desktop/title-line-desktop.png"
          alt=""
      /></span>
    </div>

    <div class="contact-wrap">
      <h2 class="contact-title">
        Let’s Plan
        Your Search Growth
      </h2>
      <p class="contact-description">
        For consultations, partnerships, or white-label services — contact us
        directly.
      </p>
    </div>

    <ul class="contact-list">
      <li class="contact-item">
        <img
          src="./img/general/email-ico.png"
          alt="Email icon"
          class="contact-icon"
        />
        <a href="mailto:info@nexthoris.com" class="contact-link"
          >info@nexthoris.com</a
        >
      </li>
      <li class="contact-item">
        <img
          src="./img/general/case-ico.png"
          alt="Company icon"
          class="contact-icon"
        />
        <a href="/#home" class="contact-link">nexthoris LLC</a>
      </li>
      <li class="contact-item contact-social">
        <a href="/#home">
          <img
            src="./img/general/threeds-ico.png"
            alt="Social icon"
            class="contact-icon"
          />
        </a>
        <a href="/#home">
          <img
            src="./img/general/x-ico.png"
            alt="Social icon"
            class="contact-icon"
          />
        </a>
        <a href="/#home">
          <img
            src="./img/general/linkedin-ico.png"
            alt="Social icon"
            class="contact-icon"
          />
        </a>
        <a
          href="/#home"
          class="contact-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          @nexthoris
        </a>
      </li>
      <li class="contact-item">
        <img
          src="./img/general/hash-ico.png"
          alt="Hashtag icon"
          class="contact-icon"
        />
        <span class="contact-text"
          >#SEOEngineering #OrganicGrowthTeam #nexthoris</span
        >
      </li>
    </ul>
  </div>
</section>
