<section class="experts-section" id="experts">
  <div class="experts-content-wrap container">
    <div class="experts-header">
      <span class="experts-label">Experts Behind the System</span>
      <span class="experts-line"
        ><img class="title-line" src="./img/mobile/title-line.png" alt="" /><img
          class="title-line-desktop"
          src="./img/desktop/title-line-desktop.png"
          alt=""
      /></span>
    </div>

    <h2 class="experts-title">
      Built by Search Engineers,
      Not Guessers
    </h2>

    <div class="experts-main">
      <ul class="experts-list">
        <li class="expert-card">
          <p class="expert-card-text">SEO Leads with 10+ years of experience</p>
        </li>
        <li class="expert-card">
          <p class="expert-card-text">
            Google Analytics &amp; GA4-certified analysts
          </p>
        </li>
        <li class="expert-card">
          <p class="expert-card-text">
            Outreach managers who know where links matter
          </p>
        </li>
        <li class="expert-card">
          <p class="expert-card-text">
            Developers for Core Web Vitals &amp; schema fixes
          </p>
        </li>
        <li class="expert-card">
          <p class="expert-card-text">
            Copywriters with high-ranking SERP content
          </p>
        </li>
      </ul>
      <div class="expert-deskription-wrap">
        <p class="experts-description">
          Every project gets its own strategist and progress dashboard. We’re a
          distributed team of specialists focused on organic search.
        </p>
      </div>
    </div>

  </div>
</section>
