<section class="home-section" id="home">
  <div class="home-content-wrap container">
    <div class="home-content">
      <p class="home-tagline">We Don’t Just Rank You</p>
      <h1 class="home-title">We Build Your Digital Gravity</h1>
      <p class="home-description">
        <span class="home-company">nexthoris</span>
        is your SEO-driven growth partner. <br> We help your website dominate search
        engines, attract qualified traffic, and turn content into performance.
      </p>
      <a href="#contact" class="home-btn">Request a Strategy Call</a>
      <img src="./img/mobile/home-img.png" alt="" class="home-image" />
    </div>
  </div>
</section>
