.header-section {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}

.header-content-wrap {
  height: 48px;
  display: flex;
  justify-content: right;
  @include media(desktop) {
    justify-content: center;
  }
}

.header-list {
  display: none;
  @include media(desktop) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-link {
  display: block;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  color: #a8b2c1;
  padding: 8px;
  text-align: center;
}

.burger-menu {
  margin-right: 8px;
  @include media(desktop) {
    display: none;
  }
}

.close-menu {
  display: none;
  margin-right: 8px;
}

.backdrop {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  height: 500px;
  margin: 0 auto;
  z-index: 1001;
  background: #f6f6f6;
  opacity: 0;
  visibility: hidden;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backdrop-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.backdrop-link {
  display: block;
  font-weight: 200;
  font-size: 16px;
  text-transform: uppercase;
  color: #a8b2c1;
  height: 35px;
  text-align: center;
}

.cpt-list {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.cpt-link {
  font-weight: 200;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #a8b2c1;
}

.backdrop-link.active {
  border-bottom: 1px solid #63d2ea;
  color: #ededed;
  font-weight: 400;
}

.header-link.active {
  border-bottom: 1px solid #63d2ea;
  color: #ededed;
  font-weight: 400;
}

.backdrop-link:hover {
  color: #ededed;
}

.header-link:hover {
  color: #ededed;
}
